$font-size-base: 16px;

$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: $font-size-base;
$font-size-lg: 18px;
$font-size-xl: 20px;

$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-h4: 22px;
$font-size-h5: 20px;
$font-size-h6: 16px;
