@import '../utilities/variables.module';
@import '../utilities//mixins.module';

.bioItem {
  display: flex;
  font-size: 30px;
  background-color: #f4dc9e;
  padding: 0.5rem 0.5rem;
  margin: 1rem auto;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 400px;

  @include respond(tab-land) {
    max-width: 700px;
    flex-direction: row;
  }
}

.bioItem__image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    margin-right: auto;
    height: 100%;
    object-fit: cover;
  }
}

.bioItem__description {
  padding: 10px 18px 0;
  width: 100%;

  h4,
  h3,
  h5 {
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
