@import '../utilities/variables.module';
@import '../utilities//mixins.module';
@import '../utilities/colors.module';
@import '../utilities/typography.module';

.bioItem {
  display: flex;
  background-color: $color-white;
  margin: 16px auto 32px;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow-sm;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 20px;

  @include respond(tab-land) {
    max-width: 970px;
    flex-direction: row;
  }
}

.bioItem__image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    margin-right: auto;
    height: 100%;
    object-fit: cover;
  }
}

.bioItem__description {
  padding: 0 20px;
  width: 100%;

  h3 {
    @extend .h3;
    @extend .underline;
    margin-bottom: 8px;
    display: inline-block;
  }

  h4 {
    @extend .h4;
    margin-bottom: 8px;
  }

  h5 {
    @extend .h5;
    margin-bottom: 8px;
  }

  p {
    @extend .p;
  }
}
