@import '../utilities/variables.module';
@import '../utilities//mixins.module';
@import '../utilities/colors.module';

.bioItem {
  display: flex;
  font-size: 30px;
  background-color: $color-white;
  padding: 0.5rem 0.5rem;
  margin: 16px auto 32px;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow-sm;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 20px;

  @include respond(tab-land) {
    max-width: 970px;
    flex-direction: row;
  }
}

.bioItem__image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    margin-right: auto;
    height: 100%;
    object-fit: cover;
  }
}

.bioItem__description {
  padding: 0 20px;
  width: 100%;

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
